.header {
    padding: 10px 10px 0px 10px;
    
    &__bg { // The actual background image
        background-position: center;
        background-size: cover;
        height: 500px;

        @include mobile-breakpoint {
            height: inherit;
        }
    }

    &__darken_bg { // The div that makes the background image darken
        display: none;
        padding: 100px 0;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        @include mobile-breakpoint {
            display: block;
        }
    }

    &__title { // The title in the header
        color: #FFF;
        font-size: 48px;
        font-weight: 300;
        font-family: $font1;
    }
}