.restaurant-section1 { // The first section on the page below the header (Contains the menu & the booking form)
    display: flex;
    padding: 5px;

    @include mobile-breakpoint {
        display: block;
    }
}