.vineyard { // The 3 vineyard cards at bottom of home page
    display: flex;
    padding: 5px;

    @include mobile-breakpoint {
        display: block;
    }
 
    &__block { // A single card
        text-align: center;
        color: #FFF;
        display: block;
        flex: 1;
        margin: 5px;
        position: relative;
        text-decoration: none;
        background-position: center;
        background-size: cover;
    }

    &__center { // Centers the text inside a card
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include mobile-breakpoint { // Set the text back to normal on mobile
            position: static;
            top: inherit;
            transform: none;
            padding: 40px 10px;
        }
    }

    &__heading { // The title in the card
        font-family: $font2;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 32px;
    }

    &__bg { // The dark overlay on the card
        background-color: rgba(0,0,0,0.5);
        transition: background-color 0.4s;
    }

    &__block:hover &__bg { // Lighten overlay slightly on hover
        background-color: rgba(0,0,0,0.3);
    }
}
